h2{
    font-size: 7vh;
}

li{
    font-family: 'Courier New';
}

#back:link, #back:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  #back:hover, #back:active {
    background-color: red;
  }